/* line 2, _sass/giftag.scss */
figure.animated_gif_frame {
  position: relative;
  cursor: pointer;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  -moz-transition: opacity, 0.2s, ease-in-out;
  -o-transition: opacity, 0.2s, ease-in-out;
  -webkit-transition: opacity, 0.2s, ease-in-out;
  transition: opacity, 0.2s, ease-in-out;
}
/* line 8, _sass/giftag.scss */
figure.animated_gif_frame:hover, figure.animated_gif_frame.playing {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 12, _sass/giftag.scss */
figure.animated_gif_frame::before {
  content: attr(data-caption);
  pointer-events: none;
  position: absolute;
  z-index: 100;
  text-align: center;
  line-height: 2;
  border: solid 3px #666;
  border-radius: 8px;
  font-weight: 700;
  color: #666;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  height: 2em;
  top: 50%;
  margin-top: -1em;
  white-space: nowrap;
  font-size: 21px;
}
/* line 33, _sass/giftag.scss */
figure.animated_gif_frame.playing::before {
  display: none;
}
/* line 38, _sass/giftag.scss */
figure.animated_gif_frame img {
  padding: 0 !important;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 45, _sass/giftag.scss */
figure.animated_gif_frame figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: block;
  width: 100%;
  padding: 0;
  line-height: 2.4;
}
/* line 57, _sass/giftag.scss */
figure.animated_gif_frame.playing img {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 61, _sass/giftag.scss */
figure.animated_gif_frame.playing figcaption {
  display: none;
}
